#root
	align-content center
	background-color #fafafa
	display flex
	flex-flow column wrap
	height 100vh
	justify-content flex-start
	@media screen and (min-width 1001px)
		justify-content center
	
.app-container
	background-color #fff
	box-sizing border-box
	padding 2rem
	width 100%
	@media screen and (min-width 1001px)
		border-radius 4px
		box-shadow 0 12.1px 10px rgba(0, 0, 0, 0.035),
		0 97px 80px rgba(0, 0, 0, 0.07)
		margin 0 auto
		width 30rem
	main
		#todo-list-section
			ul
				&#todo-list
					margin 3rem 0
					list-style square
					padding 0 0 0 2rem
					//li
					//

.completed
	color red
	text-decoration line-through